@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

// html,
// body {
//   font-family: 'Rubik', sans-serif;
// }
// main {
//   margin-left: 5rem;
//   padding: 1rem;
//   min-height: 100vh;
// }

body.devbody {
    width: 100%;
    height: 100%;
    &:before {
        content: "";
        content: "";
        width: 100%;
        height: 100%;
        background-image: url("../public/bg.png");
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
        // background-position: 50% 50%;
        // background-repeat: no-repeat;
        background-size: cover;
    }
}
.dev {
    // background: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle {
    background-color: white;
    z-index: 90;
    width: 250px;
    height: 250px;
    display: block;
    border-radius: 900px;
}
.logo {
    z-index: 99;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 0px 40px;
    width: 170px;
    height: 170px;
}
.blog {
    display: flex;
    align-items: right;
    padding-bottom: 20px;
}
.blog-home {
    margin-top: 0.5rem;
    // margin: 0 auto;
    color: #000000;
    font-weight: 600;
    font-size: 2.5rem;
    cursor: pointer;
    display: flex;
    align-items: right;
    column-gap: 10px;
}
.icon {
    height: 100%;
    width: 2.5rem;
    color: rgb(0, 0, 0);
}
.icons-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
    padding: 0px 25px;
    margin-bottom: 1rem;
    margin-top: 30px;
    background-color: white;
    border-radius: 60px;
    // padding-bottom: 5px;
    // border: 2px solid green;
}
.icon-box {
    // background-color: rgb(249, 249, 251, 1);
    // border: 1px solid rgba(126, 126, 126, 1);
    border-radius: 20px;
    width: 70px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-link {
    display: flex;
    // margin: 0px auto;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .circle {
        width: 300px;
        height: 300px;
    }
    .logo {
        margin: 50px 0px 0px 50px;
        width: 200px;
        height: 200px;
    }
}
