.header {
    display: flex;
    flex-direction: row;
    height: 5rem;
    justify-content: center;
    align-items: flex-start;
}
.logo {
    align-self: flex-end;
    height: 6.5rem;
    width: 6.5rem;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .header {
        display: flex;
        flex-direction: column;
        height: 13rem;
        justify-content: flex-start;
        align-items: center;
    }
    .logo {
        align-self: center;
        height: 10rem;
        width: 10rem;
    }
}
