.header {
    display: flex;
    flex-direction: row;
    height: 5rem;
    justify-content: center;
    align-items: flex-start;
}
.title {
    align-self: center;
}
.logo {
    align-self: flex-end;
    height: 6.5rem;
    width: 6.5rem;
}