.header {
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-bottom: 2rem;
}
.header-content {
    display: inline-block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    border-bottom-width: 1px;
    display: flex;
    justify-content: space-between;
}
.title-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 300;
    cursor: pointer;
}
.title {
    color: #ffffff;
    transition: all 0.2s ease;
    &:hover {
        color: rgb(75, 28, 28);
    }
}
.blog-title {
    padding-left: 0.5rem;
    transition: all 0.1s ease;
    &:hover {
        color:rgb(131, 131, 131);
    }
}
.center {
    display: flex;
    flex-direction: row;
}
.hamburger {
    cursor: pointer;
    margin: auto 0px;
    margin-right: 8px;
}
.dev {
    display: flex;
    align-items: center;
}
.portfolio {
    margin-top: 0.5rem;
    margin-left: 1rem;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: right;
    column-gap: 10px;
}
.icon {
    width: 20px;
}
.icon-menu {
    width: 30px;
    display: flex;
    align-self: flex-start;
}
.searchbar {
    background: white;
    border-radius: 25px;
    display: flex;
    padding: 5px 15px;
    .icon {
        width: 20px;
        display: flex;
        padding-right: 5px;
        margin-right: 5px;
    }
}
.navbar-holder {
    z-index: 14;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.navbar-nav {
    transition: all 2.2s ease;
    // overflow: hidden;
    padding: 30px;
    z-index: 15;
    position: absolute;
    background: white;
    color:rgb(40, 40, 40);
    top: 5rem;
    left: 15rem;
    display: flex;
    column-gap: 10px;
    row-gap: 15px;
    height: 200px;
    border-radius: 25px;
    font-weight: 600;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    .navbar-basics {
        width: 100px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border-right: 2px solid black;
    }
    .navbar-categories {
        margin-left: 20px;
        height: 100%;

        .cols-title {
            font-weight: 400;
            height: 20%;
            text-align: center;
            padding-right: 75px;
        }
        .cols {
            display: flex;
            flex-direction: row;
            height: 100%;
            .col {
                width: 200px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
}
// .hamburger:hover + .navbar-nav {
//     visibility: visible
// }

/* Small screens */
@media only screen and (max-width: 600px) {
    .title {
        font-size: 1.375rem;
    }
    .spacer {
        font-size: 1.375rem;
    }
    .blog-title {
        font-size: 1.375rem;
    }
    .dev {
        display: none;
    }
    .searchbar {
        display: none;
    }
}
