.navbar {
    background: #e5e5e5;
    opacity: 0.8;
    z-index: 99;
    position: absolute;
    top: 4%;
    left: 5%;
    height: 55px;
    width: 90%;
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: row;
    border-radius: 70px;
    padding: 0px 5px 0px 5px;
}
.navbar-mobile-menu {
    display: none;
}
.navbar-nav {
    a {
        &:hover {
            color: black;
            transform: scale(102%);
        }
    }
}
.nav-logo {
    width: 55px;
    position: relative;
    align-self: center;
    height: 55px;
}
.nav-socials {
    width: 35px;
    position: relative;
    margin: 10px;
    height: 35px;
    align-self: center;
    &:hover {
        color: black;
        transform: scale(102%);
        cursor: pointer;
    }
}
.nav-icon {
    position: relative;
    width: 20px;
    align-self: center;
    margin-right: -10px;
    transition: transform 0.3s ease-in-out;
    &:hover {
        cursor: pointer;
    }
}
.submenu {
    display: none;
    position: absolute;
    top: 50px;
    background: #e5e5e5;
    margin-left: -50px;
    width: auto;
    padding: 10px;
    border-radius: 0px 0px 25px 25px;
    li {
        border-top: 2px solid black;
        padding: 5px 10px;
        height: 50px;
    }
    .faction-icons {
        width: 50px;
        position: relative;
        margin: 10px;
        align-self: center;
        height: 80%;
    }
}
.nav-factions-li:hover {
    .nav-icon {transform: rotate(90deg);}
    ul {
        display: block;
    }
}
.connect {
    align-self: center;
    justify-self: center;
}

@media only screen and (max-width: 600px) {
    .navbar {
        top: 2%;
        height: 35px;
        font-size: 0.8rem;
    }
    .navbar-nav {
        display: none;
    }
    .navbar-mobile-menu {
        display: block;
        padding-left: 20px;
        margin-right: auto;
    }
    .nav-mobile-icon {
        width: 30px;
    }
    .submenu-mobile {
        display: none;
        position: absolute;
        max-width: 100%;
        background: #e5e5e5;
        width: auto;
        padding: 10px;
        border-radius: 0px 0px 25px 25px;
        li {
            border-top: 2px solid black;
            padding: 5px 10px;
            height: 50px;
        }
        .faction-icons {
            width: 50px;
            position: relative;
            margin: 10px;
            align-self: center;
            height: 80%;
        }
    }
    .nav-mobile-dropdown:hover {
        .nav-mobile-icon {transform: rotate(90deg);}
        .submenu-mobile {
            display: block;
        }
    }
    .nav-socials {
        width: 30px;
        height: 30px;
    }
}
