.navbar {
    z-index: 99;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    // overflow: scroll;
    // border-right: 3px solid rgb(158, 158, 158);
    border-right: 5px solid var(--bg-secondary);
    border-style: groove;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
    justify-self: center;
    align-self: center;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link-logo,
.nav-link {
    display: flex;
    align-items: center;
    height: 4.5rem;
    color: var(--text-tertiary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.8) invert(100%);
    transition: var(--transition-speed);
}
.nav-link-icon {
    // display: flex;
    // align-self: center;
    // justify-self: center;
    // align-items: center;
    // justify-content: center;
    padding-left: 5px;
    // text-align: center;
    // border: 2px solid yellow;
}
.nav-link-logo {
    filter: grayscale(0%) opacity(1);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-primary);
}

.link-text {
    display: none;
    margin-left: 1rem;
    text-align: left;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: #a70b00;
}

.fa-secondary {
    color: #760a02;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text {
    display: hidden;
    position: absolute;
    // left: -999px;
    transition: var(--transition-speed);
}

.logo-image {
    width: 60%;
    margin-left: 20%;
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

#mobile-home {
    display: none
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-item {
        width: calc(100% / 7);
    }

    .nav-link {
        justify-content: center;
    }

    #themeButton {
        display: none;
    }

    #mobile-home {
        display:inline;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 17rem;
    }

    .navbar:hover .link-text {
        display: inline;
        white-space: nowrap;
    }

    .navbar:hover .logo svg {
        margin-left: 14rem;
    }

    .navbar:hover .logo-text {
        left: 0px;
    }
}

.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
}

.solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
}

.theme-icon {
    display: none;
}

.dark #darkIcon {
    display: block;
}

.light #lightIcon {
    display: block;
}

.solar #solarIcon {
    display: block;
}
