main.portfolio {
    margin: 1rem;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.3rem;
    line-height: 1.3;
    width: 80%;
    margin-inline: auto;
    background-color: rgb(249, 249, 251, 0.9);
    border-radius: 50px;
    padding: 40px 30px;
}
.fa-primary {
    color: var(--bg-secondary);
}
.fa-secondary {
    color: var(--text-secondary);
}
.fa-tertiary {
    color: rgb(12, 92, 12);
}
.flex-container {
    z-index: 15;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    column-gap: 7%;
}
.flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    width: 45%;
    background-color: white;
    border-radius: 15px;
    margin-top: 15px;
}
.title {
    // height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
    .logo {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .logo-case {
        height: 100%;
        display: flex;
        align-self: flex-end;
        justify-self: flex-end;
    }
    .links {
        width: 100%;
        display: flex;
        flex-direction: row;
        // flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    .links-item {
        width: 50px;
        height: 50px;
        padding: 10px 10px 10px 10px;
        // display: flex;
        // align-items: center;
        // padding: 20px;
        // position: relative;
    }
}

@media only screen and (max-width: 600px) {
    main.portfolio {
        margin-bottom: 5.5rem;
        padding: 40px 15px;
        width: 90%;
    }
    .flex-container {
        // padding: 5px;
    }
    .flex-item {
        width: 100%;
        padding: 10px;
    }
    .title {
        flex-direction: column;
    }
    .logo {
        // width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .logo-case {
        width: 100%;
        display: flex;
        align-self: flex-start;
        justify-self: flex-end;
    }
    .links {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .links-item {
        width: 25px;
        height: 25px;
        flex-direction: row;
    }
}
