main.portfolio {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.3rem;
    line-height: 1.3;
    h1 {
        font-family: "Space Mono";
        padding-top: 1.5rem;
    }
    width: 80%;
    margin-left: 10%;
    background-color: #f9f9fb;
    border-radius: 50px;
}
.fa-primary {
    color: var(--bg-secondary);
}
.fa-secondary {
    color: var(--text-secondary);
}
.fa-tertiary {
    color: rgb(12, 92, 12);
}
.flex-container {
    z-index: 15;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}
.flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    position: relative;
    width: 50%;
}
.title {
    height: 150px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
    .logo {
        max-width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo-case {
        height: 100%;
        display: flex;
        align-self: flex-end;
        justify-self: flex-end;
    }
    .links {
        width: 25%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .links-item {
        display: flex;
        align-items: center;
        padding: 5px;
        position: relative;
        width: 50%;
    }
}
