.postdetail {
    h1 {
        font-size: 2rem;
        margin: 50px 0px 25px 0px;
        font-weight: 900;
    }
    h2 {
        font-size: 1.4rem;
        margin: 50px 0px 25px 0px;
    }
    h3 {
        font-size: 1.2rem;
        margin: 50px 0px 25px 0px;
    }
    h4 {
        font-size: 0.85rem;
        margin: 50px 0px 25px 0px;
    }
    a {
        color: #0000EE;
    }
    p {
        margin: 20px 0px;
    }
}